.block {
  padding: 1rem;

  &.border {
    border: 1px solid uswdsGray(2);
  }

  &.shadow {
    @include elevation(1);
  }

  &.with-cta {
    position: relative;
    margin-bottom: 2rem;
  }
}

.block__cta {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate3d(-50%, 50%, 0);
}

@include breakpoint(small) {
  .block {
    padding: 2rem;
  }
}
