@mixin callout-color-scheme(
  $text-color,
  $background-color,
  $border-color,
  $rule-color,
  $icon-color
) {
  color: $text-color;

  background-color: $background-color;
  border-color: $border-color;

  .callout__rule {
    background-color: $rule-color;
  }

  .callout__icon {
    color: $icon-color;
  }
}

.callout {
  padding: 1rem;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}

.callout__rule {
  height: 1px;
  width: 100%;

  margin: 1rem auto;

  border: none;
}

.callout--info {
  @include callout-color-scheme(
    $text-color: uswdsInfo(5),
    $background-color: uswdsInfo(1),
    $border-color: uswdsInfo(3),
    $rule-color: uswdsInfo(3),
    $icon-color: uswdsInfo(3)
  );
}

.callout--error {
  @include callout-color-scheme(
    $text-color: uswdsError(5),
    $background-color: uswdsError(1),
    $border-color: uswdsError(3),
    $rule-color: uswdsError(3),
    $icon-color: uswdsError(3)
  );
}

.callout--info {
  @include callout-color-scheme(
    $text-color: uswdsInfo(5),
    $background-color: uswdsInfo(1),
    $border-color: uswdsInfo(3),
    $rule-color: uswdsInfo(3),
    $icon-color: uswdsInfo(3)
  );
}

.callout--success {
  @include callout-color-scheme(
    $text-color: uswdsSuccess(5),
    $background-color: uswdsSuccess(1),
    $border-color: uswdsSuccess(3),
    $rule-color: uswdsSuccess(3),
    $icon-color: uswdsSuccess(3)
  );
}

.callout--warning {
  @include callout-color-scheme(
    $text-color: uswdsGray(8),
    $background-color: uswdsWarning(1),
    $border-color: uswdsWarning(3),
    $rule-color: uswdsWarning(3),
    $icon-color: uswdsWarning(4)
  );
}
