.cards-container {
  display: flex;
  flex-wrap: wrap;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.card {
  flex: 0 0 100%;
  margin-bottom: 1rem;

  text-decoration: none;

  @include elevation(1);
}

.card__image {
  padding-top: 12rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__content {
  padding: 1rem;
}

.card__title {
  color: uswdsGray(8);
}

.card__description {
  color: uswdsGray(7);
  font-weight: normal;
}

.card__cta {
  color: lcsBlue(4);
}

@include breakpoint(small) {
  .cards-container {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .card {
    flex: 0 0 calc(50% - 1rem);

    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@include breakpoint(medium) {
  .card {
    flex: 0 0 calc(25% - 1rem);
  }

  .cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .card {
    flex: 0 0 calc(25% - 2rem);

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
}
