.bento-menu-toggle__dot {
  width: 0.5rem;
  height: 0.5rem;

  border-radius: 50%;

  &.row-1 {
    top: 8px;
  }
  &.row-2 {
    top: 20px;
  }
  &.row-3 {
    top: 32px;
  }

  &.col-1 {
    left: 8px;
  }
  &.col-2 {
    left: 20px;
  }
  &.col-3 {
    left: 32px;
  }
}

.bento-menu__close {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1rem;

  color: $white;
  font-size: 1.5rem;

  background-color: transparent;
  @include appearance-reset;
}

.bento-menu__wrapper {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(uswdsGray(8), 0.5);
  pointer-events: none;
}

.bento-menu {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 1rem;

  background-color: $white;
  @include elevation(1);
  list-style: none;
}

.bento-menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bento-menu-item__link {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.bento-menu-item-link__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;

  background-image: url("http://placekitten.com/200/300");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

@include breakpoint(small) {
  .bento-menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include breakpoint(medium) {
  .bento-menu {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
