.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(uswdsGray(8), 0.5);
}

.modal__content {
  position: relative;

  padding: 1rem;
  width: 90%;
  max-width: 60rem;

  background-color: $white;
  @include elevation(1);
}

.modal-content__header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid uswdsGray(3);
}

.modal__close {
  position: absolute;
  top: 0;
  right: 1rem;

  margin: 0;
  padding: 1rem;

  font-size: 1.5rem;

  @include transition;

  &:hover {
    color: uswdsError(3);
  }
}

@include breakpoint(medium) {
  .modal__content {
    padding: 3rem;
  }

  .modal-content__header {
    margin-bottom: 3rem;
  }
}
