@import "./styleguide/general";
@import "./styleguide/colors";
@import "./styleguide/typography";
@import "./styleguide/elements";

// COMPONENTS
// --------------------------------------------------------

.sg-component-container {
  margin-bottom: 2rem;
  padding: 2rem;
}

.sg-component-example {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;

  &:not(:first-of-type) {
    padding-top: 2rem;
  }

  &.full {
    grid-template-columns: 1fr;
  }
}

.component-full {
  grid-column: span 2;
}

// GRID
// --------------------------------------------------------

.sg-col-example {
  padding: 1rem;

  text-align: center;

  border: 1px solid uswdsError(4);
}
