$tabLabelOffset: -2px;

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab__label {
  position: relative;
  bottom: $tabLabelOffset;

  width: 100%;
  padding: 1rem;

  color: uswdsGray(5);

  background-color: $white;
  border-top: 1px solid uswdsGray(3);
  border-right: 1px solid uswdsGray(3);
  border-left: 1px solid uswdsGray(3);
  cursor: pointer;
  transition: background 0.1s, color 0.1s;

  &:last-of-type {
    border-bottom: 1px solid uswdsGray(3);
  }
}

.tab__label:hover {
  background-color: uswdsGray(1);
}

.tab__label:active {
  background-color: uswdsGray(3);
}

.tab__input:checked + .tab__label {
  z-index: 2;

  color: uswdsGray(8);

  background-color: $white;
  border-bottom: none;
}

.tab__input:focus + .tab__label {
  box-shadow: none;
}

.tab__panel {
  position: relative;
  z-index: 1;

  display: none;
  width: 100%;
  padding: 1rem;

  background: $white;
  border: 1px solid uswdsGray(3);
}

.tab__input:checked + .tab__label + .tab__panel {
  display: block;
}

@include breakpoint(medium down) {
  .tab__panel {
    margin-bottom: $tabLabelOffset;
  }
}

@include breakpoint(medium) {
  .tab__label {
    width: auto;
    padding: 1rem 2rem;

    border-radius: 0.5rem 0.5rem 0 0;
  }

  .tab__panel {
    padding: 2rem;
    order: 99;

    border-radius: 0 0.5rem 0.5rem 0.5rem;
  }
}
