.tile-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.tile {
  position: relative;

  display: block;
  padding-top: 100%;

  color: $white;
  text-decoration: none;
}

.tile__content {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  background-color: rgba(lcsBlue(4), 0.75);
}

@include breakpoint(small) {
  .tile-container {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(medium) {
  .tile-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
