@include breakpoint(small) {
  .layout.columns-6 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint(medium) {
  .layout.columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
