.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 90rem;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-container {
  width: 100%;
  max-width: 75rem;

  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}
