a {
  transition: color 150ms ease-in-out;

  &.link {
    color: lcsBlue(4);
    &:hover {
      color: lcsBlue(6);
    }

    &.alt {
      color: lcsBlue(1);
      &:hover {
        color: $white;
      }
    }

    &.icon {
      color: currentColor;
    }
  }
}
