button,
.button {
  display: inline-block;

  padding: 1em 2em;

  text-decoration: none;

  @include appearance-reset;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &:hover {
    text-decoration: none;
  }

  // Sizes
  &.small {
    font-size: 0.75rem;
  }
  &.default {
    font-size: 0.875rem;
  }
  &.large {
    font-size: 1rem;
  }

  // Styles
  &.primary {
    @include button-builder(
      $textColor: $white,
      $bgColor: lcsBlue(4),
      $borderColor: lcsBlue(4)
    );
  }

  &.secondary {
    @include button-builder(
      $textColor: $white,
      $bgColor: lcsGoldWeb(4),
      $borderColor: lcsGoldWeb(4)
    );
  }

  &.tertiary {
    @include button-builder(
      $textColor: lcsBlue(4),
      $bgColor: transparent,
      $borderColor: lcsBlue(4),
      $isOutline: true
    );
  }

  &.danger {
    @include button-builder(
      $textColor: $white,
      $bgColor: uswdsError(3),
      $borderColor: uswdsError(3)
    );
  }

  &.success {
    @include button-builder(
      $textColor: $white,
      $bgColor: uswdsSuccess(3),
      $borderColor: uswdsSuccess(3)
    );
  }

  &.with-icon .fa {
    margin-left: 0.5rem;
  }
}
