.checkbox {
  position: absolute;
  top: 50%;
  left: 0;

  display: inline-block;

  height: 12px;
  width: 12px;

  background-color: $white;
  border: 1px solid uswdsGray(4);
  border-radius: 4px;
  pointer-events: none;
  transform: translateY(-50%);
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.form-option-wrapper input:checked ~ .checkbox:after {
  display: block;
}

.form-option-wrapper .checkbox:after {
  left: 3px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid lcsBlue(5);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
