fieldset {
  padding: 0.5rem 1rem 1rem;

  border: 1px solid uswdsGray(4);

  @include disabled {
    label {
      color: uswdsDisabled(3);
      cursor: not-allowed;
    }

    .checkbox,
    .radio {
      background-color: uswdsDisabled(1);
      border: uswdsDisabled(2);
      cursor: not-allowed;
    }
  }

  @include invalid {
    border: 1px solid uswdsError(3);

    legend {
      color: uswdsError(3);
    }
  }
}
