figure,
.figure {
  margin: 0;
  padding: 0;

  border: 1px solid uswdsGray(2);

  &.borderless {
    border: none;
  }
}

figure img {
  display: block;
  width: 100%;
}

.figcontent {
  padding: 1rem;
}

figcaption,
.figcaption {
  padding: 1rem;

  background-color: uswdsGray(1);
}
