label {
  &.input-label {
    display: block;

    margin-bottom: 1rem;
  }

  &.checkbox-label,
  &.radio-label {
    padding-left: 1rem;
  }

  @include invalid {
    color: uswdsError(3);
  }
}

input:checked ~ label {
  font-weight: 700;
}
