table {
  padding: 1rem;

  border: none;
  border-collapse: collapse;
}

caption {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: left;

  border-bottom: 1px solid uswdsGray(3);
}

th,
td {
  padding: 1rem;

  text-align: left;
}

thead th {
  color: uswdsGray();
  font-weight: normal;
  text-transform: uppercase;
}

tbody tr {
  &:nth-child(odd) {
    background-color: uswdsGray(1);
  }
}
