$colorado-colors: (
  "green": $base-co-green,
  "orange": $base-co-orange,
  "blue": $base-co-blue,
  "brown": $base-co-brown,
  "silver": $base-co-silver,
  "slate": $base-co-slate,
  "black": $base-co-black
);

$lcs-colors: (
  "blue": $base-lcs-blue,
  "gold": $base-lcs-gold,
  "grey": $base-lcs-grey
);

$lcs-secondary-colors: (
  "purple": $base-lcs-purple,
  "mauve": $base-lcs-mauve,
  "red": $base-lcs-red,
  "teal": $base-lcs-teal,
  "green": $base-lcs-green,
  "orange": $base-lcs-orange
);

// COLOR PALETTES
// --------------------------------------------------------

.sg-color-palette-container {
  margin-bottom: 2rem;
}

.sg-color-palette {
  &:not(:first-of-type) {
    margin-top: 1rem;
    @include breakpoint(medium) {
      margin-top: 3rem;
    }
  }
}

.sg-color-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;

  padding: 1rem 0 0 0;
  margin: 0;

  list-style: none;

  &.eight-up {
    grid-template-columns: repeat(8, 1fr);
  }
}

.sg-color {
  margin-bottom: 0.25rem !important;

  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
}

.sg-color__color {
  height: 6rem;
}

.sg-color__title {
  padding: 1rem;
}

// Colorado Colors

@each $colorName, $var in $colorado-colors {
  .sg-color--base-co-#{$colorName} {
    background-color: $var;
  }
}

@each $num, $color in $co-green {
  .sg-color--green-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $co-blue {
  .sg-color--blue-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $co-brown {
  .sg-color--brown-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $co-orange {
  .sg-color--orange-#{$num} {
    background-color: $color;
  }
}

// LCS Colors

@each $colorName, $var in $lcs-colors {
  .sg-color--base-lcs-#{$colorName} {
    background-color: $var;
  }
}

@each $colorName, $var in $lcs-secondary-colors {
  .sg-color--base-lcs-secondary-#{$colorName} {
    background-color: $var;
  }
}
// Primary Colors
@each $num, $color in $lcs-blue {
  .sg-color--lcs-blue-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-gold {
  .sg-color--lcs-gold-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-gold-web {
  .sg-color--lcs-gold-web-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-grey {
  .sg-color--lcs-grey-#{$num} {
    background-color: $color;
  }
}
// Secondary Colors
@each $num, $color in $lcs-purple {
  .sg-color--lcs-purple-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-purple {
  .sg-color--lcs-purple-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-mauve {
  .sg-color--lcs-mauve-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-red {
  .sg-color--lcs-red-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-teal {
  .sg-color--lcs-teal-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-green {
  .sg-color--lcs-green-#{$num} {
    background-color: $color;
  }
}
@each $num, $color in $lcs-orange {
  .sg-color--lcs-orange-#{$num} {
    background-color: $color;
  }
}

// USWDS Colors

@each $num, $color in $uswds-grayscale {
  .sg-color--gray-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $uswds-info-blue {
  .sg-color--info-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $uswds-error-red {
  .sg-color--error-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $uswds-warning-yellow {
  .sg-color--warning-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $uswds-success-green {
  .sg-color--success-#{$num} {
    background-color: $color;
  }
}

@each $num, $color in $uswds-disabled-gray {
  .sg-color--disabled-#{$num} {
    background-color: $color;
  }
}

:root {
  --base-lcs-blue: #{$base-lcs-blue};
  --base-lcs-gold: #{$base-lcs-gold};
  --base-lcs-grey: #{$base-lcs-grey};

  --base-lcs-secondary-purple: #{$base-lcs-purple};
  --base-lcs-secondary-mauve: #{$base-lcs-mauve};
  --base-lcs-secondary-red: #{$base-lcs-red};
  --base-lcs-secondary-teal: #{$base-lcs-teal};
  --base-lcs-secondary-green: #{$base-lcs-green};
  --base-lcs-secondary-orange: #{$base-lcs-orange};


  @each $number, $color in $lcs-blue {
    --lcs-blue-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-gold {
    --lcs-gold-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-gold-web {
    --lcs-gold-web-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-blue {
    --lcs-blue-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-grey {
    --lcs-grey-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-purple {
    --lcs-purple-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-mauve {
    --lcs-mauve-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-red {
    --lcs-red-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-teal {
    --lcs-teal-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-green {
    --lcs-green-#{$number}: #{$color};
  }
  @each $number, $color in $lcs-orange {
    --lcs-orange-#{$number}: #{$color};
  }
  // =====================================================================
  @each $number, $color in $uswds-grayscale {
    --gray-#{$number}: #{$color};
  }
  @each $number, $color in $uswds-info-blue {
    --info-#{$number}: #{$color};
  }
  @each $number, $color in $uswds-error-red {
    --error-#{$number}: #{$color};
  }
  @each $number, $color in $uswds-warning-yellow {
    --warning-#{$number}: #{$color};
  }
  @each $number, $color in $uswds-success-green {
    --success-#{$number}: #{$color};
  }
  @each $number, $color in $uswds-disabled-gray {
    --disabled-#{$number}: #{$color};
  }
  // =====================================================================

  --base-co-green: #{$base-co-green};
  --base-co-orange: #{$base-co-orange};
  --base-co-blue: #{$base-co-blue};
  --base-co-brown: #{$base-co-brown};
  --base-co-silver: #{$base-co-silver};
  --base-co-slate: #{$base-co-slate};
  --base-co-black: #{$base-co-black};

  @each $number, $color in $co-blue {
    --blue-#{$number}: #{$color};
  }
  @each $number, $color in $co-brown {
    --brown-#{$number}: #{$color};
  }
  @each $number, $color in $co-green {
    --green-#{$number}: #{$color};
  }
  @each $number, $color in $co-orange {
    --orange-#{$number}: #{$color};
  }
}
