// ELEMENTS
// --------------------------------------------------------

.sg-form-container,
.sg-element-container,
.sg-container {
  margin-bottom: 2rem;
  padding: 2rem;
}

.sg-form-example,
.sg-element-example {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  &.flex {
    display: flex;
    align-items: center;
  }

  &.full {
    grid-template-columns: 1fr;
  }

  &:not(:first-of-type) {
    padding-top: 2rem;
  }
}
