// GENERAL STYLES
// --------------------------------------------------------
.sg-body {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
}

.sg-header {
  position: relative;

  background-color: uswdsGray(1);
}

.sg-header nav {
  padding: 1rem;
}

.sg-header ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sg-header ul li {
  margin-bottom: 0.5rem;
}

.sg-main {
  padding: 1rem 1rem 2rem;
}

@include breakpoint(medium) {
  .sg-body {
    grid-template-columns: 1fr 5fr;
  }

  .sg-header {
    min-height: 100vh;
  }

  .sg-header nav {
    position: fixed;
  }

  .sg-main {
    padding: 2rem 0.5rem 2rem 0;
  }
}
