// TYPOGRAPHY
// --------------------------------------------------------
.sg-typography-container {
  margin-bottom: 2rem;
  padding: 2rem;
}

.sg-type-example {
  border: 1px solid uswdsGray(4);

  &:not(:first-of-type) {
    margin-top: 2rem;
  }
}

.sg-type-example__heading {
  padding: 1rem;

  background-color: uswdsGray(2);
}

.sg-type-example__content {
  padding: 1rem;
}

.sg-type-explanation {
  color: uswdsGray(4);
  font-size: 1rem;
}
