$directions: (top, left, bottom, right);

@each $break, $value in $setting-breakpoints {
  @include breakpoint($break) {
    @each $direction in $directions {
      @for $i from 1 through 6 {
        .m-#{$break}-#{$direction}-#{$i} {
          margin-#{$direction}: #{$i}rem;
        }

        .p-#{$break}-#{$i} {
          padding: #{$i}rem;
        }

        .p-#{$break}-block-#{$i} {
          padding-bottom: #{$i}rem;
          padding-top: #{$i}rem;
        }

        .p-#{$break}-inline-#{$i} {
          padding-left: #{$i}rem;
          padding-right: #{$i}rem;
        }

        .p-#{$break}-#{$direction}-#{$i} {
          padding-#{$direction}: #{$i}rem;
        }
      }
    }
  }
}

.m-left-05 {
  margin-left: 0.5rem;
}
