$text-align-options: (left, center, right);
$text-case-options: (lowercase, uppercase, capitalize);

@each $option in $text-align-options {
  .text-align-#{$option} {
    text-align: $option;
  }
}
@each $option in $text-case-options {
  .text-case-#{$option} {
    text-transform: $option;
  }
}

.no-break {
  white-space: nowrap;
}
