@mixin font-size-builder($className: null, $sizes) {
  @each $size, $value in $sizes {
    @include breakpoint($size) {
      @if $className == null {
        font-size: #{$value};
      } @else {
        &.#{$className} {
          font-size: #{$value};
        }
      }
    }
  }
}
